.create-post-container {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.create-post-heading {
    align-self: center;
    color: white;
    margin-top: 15px;
    font-size: 24px;
}

.create-post-form {
    display: flex;
    flex-direction: column;
}

.create-post-span {
    margin-bottom: 10px;
    background-color: rgba(50, 50, 50, 1);
    padding-bottom: 5px;
    border-bottom: solid 2px white;
}

.create-post-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 500px;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin: 10px;
    border: solid black 2px;
    color: white;
    background-color: rgba(50, 50, 50, 1)
}

.create-post-input > input {
    background-color: rgba(50, 50, 50, 1);
    color: white;
    border-radius: 5px;

    &&:focus {
        background-color: white;
        color: black
        /* && */
    }
}

.create-post-text-box {
    background-color: rgba(50, 50, 50, 1);
    border: solid 2px white;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 80px;

    &&::placeholder {
        color: white;
    }

    &&:focus {
        background-color: white;
        color: black;

        &&::placeholder {
            color: black;
        }
    }
}

.create-post-select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin-top: 15px;
    border: solid black 2px;
    color: white;
    background-color: rgba(50, 50, 50, 1);
}

.create-post-select > select {
    background-color: rgba(50, 50, 50, 1);
    border-radius: 5px;
    border: solid white 2px;
    color: white;

    &&:focus {
        background-color: white;
        color: black;
    }
}

.create-post-error-container {
    display: flex;
    text-wrap: wrap;
    align-self: center;
    height: max(20px);
    width: max(300px);
    margin-bottom: 10px;
}

.create-required {
    color: white;
    align-self: center;
    font-size: 12px;
}

.error-container-select {
    margin-top: 10px;
    height: max(20px);
    width: max(210px);
}

.create-post-text-box:focus ~ .testingCSS {
    color: red;
    text-decoration: underline;
}