.create-post-container {
    display: flex;
    flex-direction: column;
}

.create-post-heading {
    align-self: center;
}

.create-post-form {
    display: flex;
    flex-direction: column;
}

.create-post-input {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 500px;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin: 10px;
    border: solid black 2px
}

.create-post-text-box {
    width: 400px;
    height: 40px;
}

.create-post-select {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin-top: 30px;
    border: solid black 2px
}

.error-container {
    display: flex;
    text-wrap: wrap;
    align-self: center;
    height: max(20px);
    margin-bottom: 10px;
}

.error-container-select {
    width: max(210px);
}

.submit-button {
    align-self: center;
    margin-top: 10px;
}