.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 32, 32, 1);
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 1px 3px 3px white;
    /* position: relative; */
}

.about-links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(32, 32, 32, .9);
    border-radius: 5px;
    padding: 5px;
}

.about-links > a {
    margin: 0px 5px 0px 5px;
    color: white;
}

.icons {
    height: 40px;
    width: 100px
}