.sign-up-header {
    color: white;
    font-size: 40px;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 400px;
    border: solid 2px white;
    border-radius: 5px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 100%
}


.sign-up-input {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    background-color: darkgray;
    border: 2px solid black;
    padding: 12px;
    border-radius: 20px;
    width: 80%;
    align-items: center;
    justify-self: center;
    font-size: 16px;
}


.sign-up-input > input {
    padding: 5px;
    margin: 2px;
    background-color: rgba(50, 50, 50, 1);
    border: solid 2px white;
    color: white;
    border-radius: 5px;

    &&:focus {
        background-color: white;
        color: black;
    }
}

.sign-up-submit-button {

    width: 300px;
    height: 40px;
    background-color: red ;
    color: white;
    margin: 10px 0px 10px 0px;

    &:hover {
        box-shadow: 2px 2px black;
    }
}

.error-container {
    display: flex;
    /* text-wrap: wrap; */
    align-self: center;
    height: max(15px);
    width: max(300px);
    margin: 5px
}

