.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.dashboard-header {
    color: white;
    margin-top: 20px;
    font-size: 30px;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 5px;
    padding: 5px;
    opacity: .96;
}