.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    background-attachment: fixed;
}

.dashboard-header {
    color: white;
    margin-top: 20px;
    font-size: 30px;
}