.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: white;
    margin: 20px 50px 15px 50px;
    width: 600px;
    background-color: rgba(50, 50, 50, 1);
}

.dashboard-blog {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    padding: 15px 10px 10px 10px;
    background-color: rgba(50, 50, 50, 1);

    &:hover {
        cursor: pointer;
        background-color: rgba(70, 70, 70, 1);
    }

    &:hover > div {
        cursor: pointer;
        background-color: rgba(70, 70, 70, 1);
    }
}

.dashboard-blog-info {
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, 1);
}

.dashboard-blog-image {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 10px;
}

.dashboard-blog-link {
    color: white;
    text-decoration: none;
    padding: 5px;
    background: rgba(50, 50, 50, 0.1);
    border-radius: 5px;
    width:max-content;
}

.blog-page-blog-link {
    color: white;
    width:max-content;
    text-decoration: none;
    padding: 2px;
    margin-right: 5px;
    background: rgba(50, 50, 50, 0.1);
    border-radius: 5px;
}

.dashboard-user-options {
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    background-color: transparent;
}

.post-update-button {
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgba(50, 50, 50, 1);
    border: solid white 1px;
    cursor: pointer;

    &:hover{
        cursor: pointer;
        background-color: rgba(70, 70, 70, 1);
        transition: all .5s ease-in-out; 
    }
}

.post-delete-button {
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: rgba(50, 50, 50, 1);
    border: solid white 1px;
    cursor: pointer;

    &:hover{
        cursor: pointer;
        background-color: rgba(70, 70, 70, 1);
        transition: all .5s ease-in-out; 
    }
}


.post-image {
    height: 500px;
    width: 100%;
}

.post-caption {
    display: flex;
    overflow-wrap: anywhere;
    align-self: flex-start;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
    padding: 15px 10px; 
    background-color: rgba(50, 50, 50, 1);
}

.notes-container {
    border-top: solid 1px gray;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-options {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.notes {
    display: flex;
    flex-direction: column;
    border-top: solid 1px gray;
    margin-top: 10px;
}

.comments-container {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    margin: 5px;
}