.post-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 15px;
    margin: 20px 50px 0px 50px;
}

.dashboard-blog-info {
    display: flex;
    align-items: center;
    margin: 10px
}

.dashboard-blog-image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
}

.dashboard-user-options {
    display: flex;
    /* flex-direction: column; */
    justify-self: flex-end;
    align-items: flex-end;
    margin-left: 350px;
}

.post-image {
    height: 200px;
    width: 200px;
}