.blog-update-container {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}

.blog-update-heading {
    align-self: center;
    color: white;
    margin-top: 15px;
    font-size: 24px;
}

.blog-update-form {
    display: flex;
    flex-direction: column;
}

.update-blog-span {
    margin-bottom: 10px;
    background-color: rgba(50, 50, 50, 1);
    padding-bottom: 5px;
    border-bottom: solid 2px white;
}

.blog-update-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin: 10px;
    border: solid black 2px;
    color: white;
    background-color: rgba(50, 50, 50, 1)
}

.blog-update-input > input {
    background-color: rgba(50, 50, 50, 1);
    color: white;
    border-radius: 5px;
    padding: 5px;

    &&::placeholder {
        color: white;
    }

    &&:focus {
        background-color: white;
        color: black;

        &&::placeholder {
            color: black;
        }
    }
}

.blog-update-input > select {
    background-color: rgba(50, 50, 50, 1);
    border-radius: 5px;
    color: white;

    &&:focus {
        background-color: white;
        color: black;
    }
} 

input::file-selector-button {
    font-weight: bold;
    color: black;
    text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    padding: 0.5em;
    border: 2px solid black;

    background: linear-gradient(to right,red, orange, yellow, green, blue) ;
    border-radius: 5px;

    &&:focus {
        background-color: white;
        

        &&::placeholder {
            color: black;
        }
    }
}

.blog-update-select {
    display: flex;
    width: 160px;
    margin-left: 20px;
    justify-content: space-between;
}

.blog-update-error-container {
    height: max(20px);
    
}
