.blog-update-container {
    display: flex;
    flex-direction: column;
}

.blog-update-heading {
    align-self: center;
}

.blog-update-form {
    display: flex;
    flex-direction: column;
}

.blog-update-input {
    display: flex;
    /* justify-content: space-evenly; */
    width: 500px;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin: 10px;
    border: solid black 2px
}

.blog-update-select {
    display: flex;
    width: 50px;
    margin-left: 20px;
    justify-content: space-between;
}

.submit-button {
    align-self: center;
}