/* TODO: Add sitewide styles */
*{
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgba(32, 32, 32, 1);
}

.error {
    color: red;
    margin-top: 8px;
    font-weight: bold;
    background-color: transparent;
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}