.login-modal-container {
    display: flex;
    background-color: rgba(50, 50, 50, 1);
    flex-direction: column;
    align-items: center;
    color: black;
    width: 350px;
    border-radius: 10px;
    border: solid white 5px;
}

.login-modal-header {
    font-size: 40px;
    background-color: transparent;
    color: white;
}

.login-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.login-modal-input {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    width: 75%;
    font-size: 16px;
}

.login-modal-input > input {
    padding: 5px;
    margin: 3px;
    background-color: rgba(50, 50, 50, 1);
    border: solid 2px white;
    color: white;
    border-radius: 5px;

    &&:focus {
        background-color: white;
        color: black;
    }
}

.error-container {
    display: flex;
    align-self: center;
    justify-content: center;
    height: max(20px);
    width: max(200px);
    margin-bottom: 10px;
    background-color: transparent;
}

.login-modal-submit-button {
    background-color: rgba(50, 50, 50, 1);
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 5px;
    height: 40px;
    width: 60%;

    &:hover {
        cursor: pointer;
        color: black;
        background-color: white;
        transition: ease-in 0.8s;
    }
}
