.blog-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    /* width: 100vh */
}

.blog-images-container {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-column: 1;
    grid-row: 1;
    height: 600px;
    width: 100%;
    /* cursor: none; */
    /* border: red 5px solid; */
}

.background-image {
    display: grid;
    /* height: 500px; */
    width: 100%;
    grid-column: 1;
    grid-row: inherit;
    /* cursor: none; */
}

.profile-picture {
    display: grid;
    height: 200px;
    width: 200px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 100px;
    align-self: flex-end;
    justify-self: center;
    border: 2px solid white;
    margin-bottom: 80px;
}

.blog-title {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    justify-self: center;
    margin-bottom: 10px;
    background-color: transparent;
    font-size: 50px;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.blog-owner-options {
    display: grid;
    grid-column: 1;
    grid-row: inherit;
    align-items: center;
    height: max-content;
    width: max-content;
    background-color: transparent;
}

.blog-owner-buttons {
    display: flex;
    padding: 10px;
    background-color: transparent;
}

.blog-update-button {
    /* background-color: white; */
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px 2px white;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 1);

    &:hover{
        color: black;
        background: linear-gradient(to right,red, orange, yellow, green, blue) ;
        box-shadow: 2px 2px;
        text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        transition: all .8s ease-in-out; 
    }
}

.blog-delete-button {
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px 2px white;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 1);

    &:hover{
        color: black;
        background: linear-gradient(to right,red, orange, yellow, green, blue) ;
        box-shadow: 2px 2px;
        text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
        transition: all .8s ease-in-out; 
    }
}

.fake-button {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    /* margin-right: 10px; */
}
